<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - IndocNow</title>
    <link rel="icon" href="{{ url_for('static', filename='images/z-icon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
 <script src="{{ url_for('static', filename='script.js') }}"></script>

<header>
    <h1>About IndocNow</h1>
   <div class="home-button-container">
    <a href="/" class="home-button">
        <i class="bi bi-arrow-left-circle"></i> return back
    </a>
</div>

</header>

<main style="padding: 20px;">
    <p><strong>IndocNow</strong> is a modern, intelligent news platform that brings together the latest news from around the world and enhances it using AI-driven features .</p>

    <ul>
        <li>Read full articles in one place — no external redirects.</li>
        <li>Listen to news with built-in voice playback.</li>
        <li>Translate articles into your preferred language.</li>
        <li>Stay updated with trending and breaking topics.</li>
        <li>Designed to work offline when internet is unavailable.</li>
        <li>shows you upcoming matches, events and movies.</li>
        <li>good advertising platform .</li>

    </ul>

    <p>Built by  KOMEZIMIHIGO Emmanuel, enhanced by intelligence.</p>
    <p><strong>Email:</strong> emmanuelkomezimihigo@gmail.com </p>
    <p>under controlled Indoc Studio in cooparetion with Spot on store.</p>
    <h2>contacts</h2>
    <p><strong>Email:</strong> indocnow@gmail.com </p>

  <p><strong>tel:</strong> +250795201263</p>
    <h2>other social medias</h2>
    <p><strong>instagram:</strong> IndocNow.news</p>
    <p><strong>facebook:</strong> IndocNow</p>
    <p><strong>X:</strong> IndocNow</p>
    <p><strong>Whatsapp:</strong> +250795201263</p>


</main>

</body>
</html>
